.Result {
  height: 30px;
  color: #D9D9D9;
  color: white;
  font-weight: 600;
  padding-top: 7px;
  padding-left: 20px;
  box-sizing: border-box;
  transition: linear .1s;
  &:hover {
    cursor: pointer;
    background: rgba(255, 99, 71, 0.8);
  }
  &.active {
    background-color: tomato;
  }
}
